/* Map */
#map1 {
    height: 700px;
    width: 100%;
}


#map2 {
    height: 700px;
    width: 100%;
}

h1{
opacity: .9;
    font-weight: 600;
    unicode-bidi: isolate;
        font-size: calc(1.325rem + 0.9vw);
    
    
}
h2 {
 text-align: center;
 color: black;
font-size:50px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3 {
 text-align: center;
 color: black;
    font-size:50px;
}
