/* Map */
#map1 {
    height: 700px;
    width: 100%;
}


#map2 {
    height: 700px;
    width: 100%;
}



h2 {
 text-align: center;
 color: black;
font-size:50px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3 {
 text-align: center;
 color: black;
    font-size:50px;
}
